<template>
    <section class="content">
        <!-- header< -->
        <button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button>
        <button type="button" class="btn btn-default float-right " v-on:click="tombolBerikutnya">Berikutnya</button>
        <button type="button" class="btn btn-default float-right " v-on:click="tombolSebelumnya">Sebelumnya</button>
        <p>{{ (total) }}</p>
        <p>{{ (page) }}</p>
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" v-for="berita in articles">
                    <div class="card bg-light">
                        <div class="card-header text-muted border-bottom-0">
                            {{ berita.author }}
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>{{ berita.description }}</b></h2>
                                    <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img :src="berita.urlToImage" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> View Profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    name: 'Berita',
    data() {
        return {
            total: 0,
            articles: [],
            page: 1
        }
    },
    mounted: function() {
        this.ambilDataServer()
    },
    methods: {
        ambilDataServer: function() {
            var url = 'http://newsapi.org/v2/top-headlines?country=id&apiKey=b81680a174c04cc0aa095ab8aaa082d1';
            fetch(url)
                .then(res => {
                    return res.json()
                })
                .then(dataSvr => {
                    this.articles = dataSvr.articles
                    this.total = dataSvr.total
                    console.log(dataSvr)
                })
        },
        tombolBerikutnya: function() {
            this.page += 1,
                this.ambilDataServer()
            console.log('hello world')
        },
        tombolSebelumnya: function() {
            if (this.page < 2) {
                return
            }
            this.page -= 1,
                this.ambilDataServer()
            console.log('hello world')
        },
    }
}
</script>