<template>
    <section class="content">
        <div class="card-header">
            <button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button></br>
        </div>
        <div class="card-body table-responsive p-0" style="height:400px; ">
            <table class="table table-hover table-bordered text-left" ref="tableuser">
                <thead>
                    <tr class="text-center">
                        <th>Author</th>
                        <th>Deskripsi</th>
                        <th>Publis</th>
                        <th>Gambar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="berita in articles">
                        <td>{{berita.author}}</td>
                        <td>{{berita.description}}</td>
                        <td>{{berita.publishedAt}}</td>
                        <td><img :src="berita.urlToImage" alt="user-avatar" class="img-circle img-fluid"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>
<script>
export default {
    name: 'TableBerita',
    data() {
        return {
            total: 0,
            articles: [],
            page: 1
        }
    },
    methods: {
        ambilDataServer: function() {
            var url = 'http://newsapi.org/v2/top-headlines?country=id&apiKey=b81680a174c04cc0aa095ab8aaa082d1';
            fetch(url)
                .then(res => {
                    return res.json()
                })
                .then(dataSvr => {
                    this.articles = dataSvr.articles
                    this.total = dataSvr.total
                    console.log(dataSvr)
                })
        },
        tombolBerikutnya: function() {
            this.page += 1,
                this.ambilDataServer()
            console.log('hello world')
        },
        tombolSebelumnya: function() {
            if (this.page <= 1) {
                return;
            }
            this.page -= 1,
                this.ambilDataServer()
            console.log('hello world')
        },
    }
}
</script>