<template>
    <div class="hello">Hello {{who}}<span id="summ"><select id="cbo"><option value="1">Pilih 1</option></select></span></div>
</template>

<script>
module.exports = {
    data: function() {
        return {
            who: 'world'
        }
    },
    mounted: function() {
    console.log('mount')
	    $('#cbo', this.$el).chosen()
	  },
	  beforeDestroy: function() {
	  console.log('destroy')
	  }
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>

