<template>
    <section class="content-header" style="background: #ffbf80 ">
        <div class="card-header">
            <div class="container-fluid" style=" background: #ffbf80">
                <div class="row">
                    <div class="col-1">
                        <p>Pilih tanggal</p>
                    </div>
                    <div class="col-6 ">
                        <div class="input-group">
                            <input type="text" id="tanggal" name="tanggal">
                            <div class="input-group-append">
                                <button type="submit">
                                    <i class='fas fa-calendar-alt'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <p><br /> Filter data</p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="inline1">
                                <label class="custom-control-label" for="inline1">hadir</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="inline2">
                                <label class="custom-control-label" for="inline2">tidak hadir</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="col-md-7">
                            <form action="simple-results.html">
                                <div class="input-group">
                                    <input type="search" class="form-control form-control-lg" placeholder="ketik nama/unit/id">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-lg btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-1">
                        <p> lihat summary</p>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <a href="#" class="btn btn-success btn-sm">CEK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header" style="background:  #ffff66">
            <div class="container-fluid" style=" background-color:   #ffff66">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Aris Y</b></h2>
                                                    <p class="text-muted text-bg"><b>112 - LOGISTIC</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">06.50</a><a class="btn btn-sm bg-teal">18.10</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Ayin K</b></h2>
                                                    <p class="text-muted text-bg"><b>114 - FINANCE</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.12</a><a class="btn btn-sm bg-teal">17.03</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Budi A.R</b></h2>
                                                    <p class="text-muted text-bg"><b>115 - IT</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">20.03</a><a class="btn btn-sm bg-teal">06.15</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Chaca P</b></h2>
                                                    <p class="text-muted text-bg"><b>121 - FINANCE</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.25</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Daud amin</b></h2>
                                                    <p class="text-muted text-bg"><b>124 - IT</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">06.40</a><a class="btn btn-sm bg-teal">16.51</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Daniar</b></h2>
                                                    <p class="text-muted text-bg"><b>133 - LEGAL</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.11</a><a class="btn btn-sm bg-teal">17.10</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Aris Y</b></h2>
                                                    <p class="text-muted text-bg"><b>112 - LOGISTIC</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">06.50</a><a class="btn btn-sm bg-teal">18.10</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Ayin K</b></h2>
                                                    <p class="text-muted text-bg"><b>114 - FINANCE</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.12</a><a class="btn btn-sm bg-teal">17.03</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Budi A.R</b></h2>
                                                    <p class="text-muted text-bg"><b>115 - IT</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">20.03</a><a class="btn btn-sm bg-teal">06.15</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Chaca P</b></h2>
                                                    <p class="text-muted text-bg"><b>121 - FINANCE</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.25</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Daud amin</b></h2>
                                                    <p class="text-muted text-bg"><b>124 - IT</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">06.40</a><a class="btn btn-sm bg-teal">16.51</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-5 text-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7gigjQ_SUjYfOKE_r1kjZh8nuYp1A4uGkew&usqp=CAU" alt="user-avatar" class="img-circle img-fluid">
                                                </div>
                                                <div class="col-7">
                                                    <h2 class="lead"><b>Daniar</b></h2>
                                                    <p class="text-muted text-bg"><b>133 - LEGAL</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-left"><a class="btn btn-sm bg-teal">07.11</a><a class="btn btn-sm bg-teal">17.10</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>