<template>
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-widget widget-user-2 ">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header elevation-3 " style="background-image: linear-gradient(to right, #EBF0AD , #A4DBA4);">
                            <div class="widget-user-image">
                                <img class="img-circle img-bordered-sm elevation-1" src="https://pbs.twimg.com/profile_images/1308525962859098114/SFa770Jq_400x400.jpg" alt="User Picture">
                                <h5 class="widget-user-username">Zayn Malik</h5>
                                <h6 class="widget-user-desc"><i class='fas fa-bezier-curve'></i> Keuangan</h6>
                                <h6 class="widget-user-desc"><i class='far fa-building' style="font-size: 16px"></i> Surabaya</h6>
                            </div>
                            <!-- /.widget-user-image -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  card-body " style="background-color: white">
                        <div class="container">
                            <h2>Job Type</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <button class="btn" style="width: 100%; text-align: left;background-image: linear-gradient(to right, #71C5EE, #014F90); ">
                                    <h4>Job</h4>
                                    <h2>CONTRACT</h2>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="width: 100%; text-align: left;background-image: linear-gradient(to right, #EBF0AD , #A4DBA4);">
                                    <h4>Job</h4>
                                    <h2>TRAMPER</h2>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 ">
                <div class="col-md-12">
                    <div class="card card-body " style="background-color: ">
                        <div class="row justify-content-center mb-5 mt-3">
                            <div class="col-md-4 mr-5">
                                <form>
                                    <div class="mb-3 mt-1">
                                        <h5 for="pilihjob" class="form-label">Pilih Job</h5>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="pilihjob" aria-describedby="pilihjob" />
                                            <div class="input-group-append ml-2">
                                                <button class="btn-primary" style="font-size:16px;  "><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div id="pilihjob" class="form-text">*Choose One Option</div>
                                    </div>
                                    <div class="mb-3 mt-1">
                                        <h5 for="rangetanggal" class="form-label">Range Tanggal</h5>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="rangetanggal" aria-describedby="rangetanggal" />
                                            <div class="input-group-append ">
                                                <button class="btn-primary " style="font-size:16px;"><i class="fa fa-calendar-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 ml-5">
                                <form>
                                    <div class="mb-3 mt-1">
                                        <h5 for="piliharea" class="form-label">Pilih Area</h5>
                                        <input type="text" class="form-control" id="piliharea" aria-describedby="piliharea" />
                                        <div id="piliharea" class="form-text">*Optional</div>
                                    </div>
                                    <div class="mb-3"></div>
                                    <h5 for="pilihkapal" class="form-label">Pilih Kapal</h5>
                                    <input type="text" class="form-control" id="pilihkapal" aria-describedby="pilihkapal" />
                                    <div id="pilihkapal" class="form-text">*Optional</div>
                                </form>
                            </div>
                        </div>
                        <hr style="width:100%">
                        <h2 class="ml-3 mt-5">Record Activity</h2>
                        <div class="row mt-3 ml-1 mr-1 mb-5">
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 0px;">
                                    <div class="inner">
                                        <div class="icon" style="color: black">
                                            <i class="fas fa-ship float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Cleareance Report</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 0px;">
                                    <div class="inner">
                                        <div class="icon" style="color: black">
                                            <i class="fas fa-dharmachakra float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Shifting Permit</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 0px;">
                                    <div class="inner">
                                        <div class="icon" style="color: black">
                                            <i class="fas fa-user-cog float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Work Permit</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 0px;">
                                    <div class="inner">
                                        <div class="icon" style="color: black">
                                            <i class="far fa-money-bill-alt float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>PNBP</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="width:100% ">
                        <h2 class="ml-3 mt-5">Summary</h2>
                        <div class="row mt-2 ml-1 mr-1 mb-3">
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation " style="background-color: white;padding: 0 0px; border: 4px solid #55A9C6; border-color: black">
                                    <div class="inner">
                                        <div class="icon" style="color:black">
                                            <i class="fas fa-ship float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Cleareance Report</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="background-color: white;padding: 0 0px;border: 4px solid #55A9C6;">
                                    <div class="inner">
                                        <div class="icon" style="color:black">
                                            <i class="fas fa-dharmachakra float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Shifting Permit</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="background-color: white;padding: 0 0px;border: 4px solid #55A9C6;">
                                    <div class="inner">
                                        <div class="icon" style="color:black">
                                            <i class="fas fa-user-cog float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>Work Permit</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="small-box bg-gradient white custom-elevation" style="background-color: white;padding: 0 0px;border: 4px solid #55A9C6;">
                                    <div class="inner">
                                        <div class="icon" style="color:black">
                                            <i class="far fa-money-bill-alt float-right" style="font-size: 42px;"></i>
                                        </div>
                                        <div style="top: 60%;position: absolute;max-width: 220px;">
                                            <h1>PNBP</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-primary text-white text-center p-2">
            <p>INI WM <a href="https://www.instagram.com/aarikkkkk_/" class="text-white fw-bold">Muhammad Arik</a></p>
        </footer>
    </section>
</template>
<style type="text/css">
.custom-elevation {
    min-height: 100px;
    box-shadow: 0.2rem 1rem 1.5rem rgba(18, 38, 63, .09);
}

.bg-gradient {
    background-color: #55A9C6;
    cursor: pointer;

}
</style>
<script>
export default {
    name: "Dashboard Contact"
}
</script>