<template>
    <section class="content-header" style="background-image: linear-gradient(to left, grey , white);">
        <div class="row">
            <div class="col-8">
                <h1 class="text-left fw-bold" style="font-size: 30px;">FINANCE</h1>
                <div class="card-body">
                    <div class="row justify-content-center pb-5">
                        <div class="col-md-5 pr-4">
                            <a href="#">
                                <div class="card1 bg-black elevation-4" style="border-radius: 20px 20px 20px 20px; position:relative;">
                                    <img class="card-img-top " src="https://asset.kompas.com/crops/BO64H61SFgcIXHeYzEclBOeaIWI=/0x65:1000x732/750x500/data/photo/2017/10/05/3176021331.jpg" alt="Dist Photo 1" style="border-radius: 20px 20px 20px 20px; ">
                                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgb(0,0,0,0.4); border-radius: 20px 20px 20px 20px;">
                                        <h1>Kas / Bank</h1>
                                        <p style="font-size: 16px; color: white">Pencatatan transaksi keuangan seputar kas dan bank</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-5 pl-4">
                            <a href="#">
                                <div class="card2 mb-2 bg-gradient-dark elevation-4" style="border-radius: 20px 20px 20px 20px;position: relative;">
                                    <img class="card-img-top " src="https://asset.kompas.com/crops/GQdTjGsfNZlaSmza-0TawAZjanY=/0x0:705x470/750x500/data/photo/2019/03/24/550314127.jpg" alt="Dist Photo 1" style="border-radius: 20px 20px 20px 20px">
                                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgb(0,0,0,0.4); border-radius: 20px 20px 20px 20px;">
                                        <h1>Job Order</h1>
                                        <p style="font-size: 16px">Aplikasi kekuangan seputar job, invoicing , epda, outstanding, HPP</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-5 pr-4">
                            <a href="#">
                                <div class="card3 mb-2 bg-gradient-dark elevation-4" style="border-radius: 20px 20px 20px 20px; position: relative;">
                                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDjbqvREDfoeuMtQrmi0vGDhzbclC7v08H9Q&usqp=CAU" alt="Dist Photo 1" style="border-radius: 20px 20px 20px 20px; ">
                                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgb(0,0,0,0.4); border-radius: 20px 20px 20px 20px;">
                                        <h1>Kasbon</h1>
                                        <p style="font-size: 16px">Modul kasbon, rekapitulasi, dan pertanggung jawabanya</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-5 pl-4">
                            <a href="#">
                                <div class="card4 mb-2 bg-gradient-dark elevation-4" style="border-radius: 20px 20px 20px 20px; position: relative;">
                                    <img class="card-img-top" src="https://www.itworks.id/wp-content/uploads/2019/12/5deee90a1e3d7.jpg" alt="Dist Photo 1" style="border-radius: 20px 20px 20px 20px;">
                                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgb(0,0,0,0.4); border-radius: 20px 20px 20px 20px;">
                                        <h1>Master Data</h1>
                                        <p style="font-size: 16px;">Pengaturan data induk seputar aplikasi keuangan</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2 ">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header elevation-4" style="background-color: white;">
                        <div class="widget-user-image">
                            <img class="img-circle img-bordered-sm elevation-1" src="https://pbs.twimg.com/profile_images/1308525962859098114/SFa770Jq_400x400.jpg" alt="User Picture">
                            <h5 class="widget-user-username">Ardani WA</h5>
                            <h6 class="widget-user-desc"><i class='fas fa-bezier-curve'></i> Keuangan</h6>
                            <h6 class="widget-user-desc"><i class='far fa-building' style="font-size: 16px"></i> Surabaya</h6>
                        </div></br>
                        <!-- /.widget-user-image -->
                        <a href="#">
                            <button class="button button1"><i class="far fa-sticky-note"></i> My Notes</button>
                        </a>
                    </div>
                    <div class=" bg-success pt-0">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%">
                            <div class="bootstrap-datetimepicker-widget usetwentyfour">
                                <ul class="list-unstyled">
                                    <li class="show">
                                        <div class="datepicker">
                                            <div class="datepicker-days" style="">
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Month"></span></th>
                                                            <th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">March 2021</th>
                                                            <th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Month"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th class="dow">Su</th>
                                                            <th class="dow">Mo</th>
                                                            <th class="dow">Tu</th>
                                                            <th class="dow">We</th>
                                                            <th class="dow">Th</th>
                                                            <th class="dow">Fr</th>
                                                            <th class="dow">Sa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="02/28/2021" class="day old weekend">28</td>
                                                            <td data-action="selectDay" data-day="03/01/2021" class="day">1</td>
                                                            <td data-action="selectDay" data-day="03/02/2021" class="day">2</td>
                                                            <td data-action="selectDay" data-day="03/03/2021" class="day">3</td>
                                                            <td data-action="selectDay" data-day="03/04/2021" class="day">4</td>
                                                            <td data-action="selectDay" data-day="03/05/2021" class="day">5</td>
                                                            <td data-action="selectDay" data-day="03/06/2021" class="day weekend">6</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="03/07/2021" class="day weekend">7</td>
                                                            <td data-action="selectDay" data-day="03/08/2021" class="day">8</td>
                                                            <td data-action="selectDay" data-day="03/09/2021" class="day">9</td>
                                                            <td data-action="selectDay" data-day="03/10/2021" class="day">10</td>
                                                            <td data-action="selectDay" data-day="03/11/2021" class="day">11</td>
                                                            <td data-action="selectDay" data-day="03/12/2021" class="day">12</td>
                                                            <td data-action="selectDay" data-day="03/13/2021" class="day weekend">13</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="03/14/2021" class="day weekend">14</td>
                                                            <td data-action="selectDay" data-day="03/15/2021" class="day">15</td>
                                                            <td data-action="selectDay" data-day="03/16/2021" class="day">16</td>
                                                            <td data-action="selectDay" data-day="03/17/2021" class="day">17</td>
                                                            <td data-action="selectDay" data-day="03/18/2021" class="day">18</td>
                                                            <td data-action="selectDay" data-day="03/19/2021" class="day">19</td>
                                                            <td data-action="selectDay" data-day="03/20/2021" class="day weekend">20</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="03/21/2021" class="day weekend">21</td>
                                                            <td data-action="selectDay" data-day="03/22/2021" class="day">22</td>
                                                            <td data-action="selectDay" data-day="03/23/2021" class="day">23</td>
                                                            <td data-action="selectDay" data-day="03/24/2021" class="day">24</td>
                                                            <td data-action="selectDay" data-day="03/25/2021" class="day active today">25</td>
                                                            <td data-action="selectDay" data-day="03/26/2021" class="day">26</td>
                                                            <td data-action="selectDay" data-day="03/27/2021" class="day weekend">27</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="03/28/2021" class="day weekend">28</td>
                                                            <td data-action="selectDay" data-day="03/29/2021" class="day">29</td>
                                                            <td data-action="selectDay" data-day="03/30/2021" class="day">30</td>
                                                            <td data-action="selectDay" data-day="03/31/2021" class="day">31</td>
                                                            <td data-action="selectDay" data-day="04/01/2021" class="day new">1</td>
                                                            <td data-action="selectDay" data-day="04/02/2021" class="day new">2</td>
                                                            <td data-action="selectDay" data-day="04/03/2021" class="day new weekend">3</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-action="selectDay" data-day="04/04/2021" class="day new weekend">4</td>
                                                            <td data-action="selectDay" data-day="04/05/2021" class="day new">5</td>
                                                            <td data-action="selectDay" data-day="04/06/2021" class="day new">6</td>
                                                            <td data-action="selectDay" data-day="04/07/2021" class="day new">7</td>
                                                            <td data-action="selectDay" data-day="04/08/2021" class="day new">8</td>
                                                            <td data-action="selectDay" data-day="04/09/2021" class="day new">9</td>
                                                            <td data-action="selectDay" data-day="04/10/2021" class="day new weekend">10</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="datepicker-months" style="display: none;">
                                                <table class="table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Year"></span></th>
                                                            <th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2021</th>
                                                            <th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Year"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7"><span data-action="selectMonth" class="month">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month active">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month">Nov</span><span data-action="selectMonth" class="month">Dec</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="datepicker-years" style="display: none;">
                                                <table class="table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Decade"></span></th>
                                                            <th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2020-2029</th>
                                                            <th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Decade"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7"><span data-action="selectYear" class="year old">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year active">2021</span><span data-action="selectYear" class="year">2022</span><span data-action="selectYear" class="year">2023</span><span data-action="selectYear" class="year">2024</span><span data-action="selectYear" class="year">2025</span><span data-action="selectYear" class="year">2026</span><span data-action="selectYear" class="year">2027</span><span data-action="selectYear" class="year">2028</span><span data-action="selectYear" class="year">2029</span><span data-action="selectYear" class="year old">2030</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="datepicker-decades" style="display: none;">
                                                <table class="table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Century"></span></th>
                                                            <th class="picker-switch" data-action="pickerSwitch" colspan="5">2000-2090</th>
                                                            <th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Century"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7"><span data-action="selectDecade" class="decade old" data-selection="2006">1990</span><span data-action="selectDecade" class="decade" data-selection="2006">2000</span><span data-action="selectDecade" class="decade active" data-selection="2016">2010</span><span data-action="selectDecade" class="decade active" data-selection="2026">2020</span><span data-action="selectDecade" class="decade" data-selection="2036">2030</span><span data-action="selectDecade" class="decade" data-selection="2046">2040</span><span data-action="selectDecade" class="decade" data-selection="2056">2050</span><span data-action="selectDecade" class="decade" data-selection="2066">2060</span><span data-action="selectDecade" class="decade" data-selection="2076">2070</span><span data-action="selectDecade" class="decade" data-selection="2086">2080</span><span data-action="selectDecade" class="decade" data-selection="2096">2090</span><span data-action="selectDecade" class="decade old" data-selection="2106">2100</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="picker-switch accordion-toggle"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img text-right mb-0 ">
                    <img src="https://images.unsplash.com/photo-1501091975279-8a337f4a2b3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" alt="gambar apalah " style="width: 100%; height: 175px">
                </div>
            </div>
        </div>
        </div>
    </section>
</template>
<style type="text/css">
.card1 {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.card1:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 1;
    z-index: 2;
}

.card2 {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.card2:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 1;
    z-index: 2;
}

.card3 {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.card3:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 1;
    z-index: 2;
}

.card4 {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.card4:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 1;
    z-index: 2;
}

.button {
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
</style>
<script>
export default {
    name: "Home Finance"
}
</script>