
<template> 
        <section class="content">
  	           <div class="row ml-3 mr-3">
            <div class="col-12 card " style="background-color: white">
             <span class="description ml-2"style="font-size: 28px">Dasboard Job Order</span>
               <h5 class="mb-2 mt-4"></h5>
             <div class="input-group">
                                        <div class="input-group-append ml-2"style="background-color: #C4C4C4">
                                            <button style="font-size: 24px">
                                                <i class="fa fa-calendar" ></i>
                                            </button>
                                        </div>
                                        <input type="text" id="tanggal" name="tanggal">
                                    </div>
                                    <button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button>
             <h5 class="mb-2 mt-4"></h5>
                        <div class="row ml-2 mr-2">
                            <div class="col-md-6 ">
                                <button class="btn" style="width: 100%; text-align: left;background-image: linear-gradient(to right, #5DAFDD, #0D5C9A); ">
                                    <h4>Job</h4>
                                    <h2>CONTRACT</h2>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="width: 100%; text-align: left;background-image: linear-gradient(to right, #D7E25B , #81C850);">
                                    <h4>Job</h4>
                                    <h2>TRAMPER</h2>
                                </button>
                            </div>
                        </div>
 <h5 class="mb-2 mt-4"></h5>
        <hr  style="border-left: :5px black">
        
        <div class="row ml-2 mr-5">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="info-box">  
              <div class="info-box-icon"style="background-color:#E0AC08"></div>

              <div class="info-box-content">
                <span class="info-box-text">Job order</span>
                <span class="info-box-number">tramper</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-3 col-12">
            <div class="info-box">
              <div class="info-box-icon "style="background-color :#E0AC08"></div>

              <div class="info-box-content">
                <span class="info-box-text">Job</span>
                <span class="info-box-number">contract</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-3 col-12">
            <div class="info-box">
              <div class="info-box-icon "style="background-color:#55A9C6"></div>

              <div class="info-box-content">
                <span class="info-box-text">Sumitted</span>
                <span class="info-box-number">invoice</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>



        <div class="row ml-2 mr-5">
          <div class="col-md-4 col-sm-3 col-12">
            <div class="info-box">
              <div class="info-box-icon"style="background-color:#72C6EF"></div>

              <div class="info-box-content">
                <span class="info-box-text">Outstanding</span>
                <span class="info-box-number">invoice</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
           <div class="col-md-4 col-sm-3 col-12">
            <div class="info-box">
               <div class="info-box-icon "style="background-color:#5FD855"></div>

              <div class="info-box-content">
                <span class="info-box-text">PJ Kasbon</span>
                <span class="info-box-number">Approved</span>
              </div>
              <!-- /.info-box-content -->
            </div>
             <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

        <div class="container-fuild">
            <div class="row">
                         <div class="col-8">
                                   <div class="card-body">
                                           <div class="card-body">
                                                        <div class="position-relative mb-4">
                                                                    <div class="chartjs-size-monitor">
                                                                                <div class="chartjs-size-monitor-expand">
                                                                                                <div class=""></div>
                                                                                </div>
                                                                                <div class="chartjs-size-monitor-shrink">
                                                                                                <div class=""></div>
                                                                                </div>
                                                                    </div>
                                                                <div class="chartjs-size-monitor">
                                                                                <div class="chartjs-size-monitor-expand">
                                                                                                <div></div>
                                                                                </div>
                                                                                <div class="chartjs-size-monitor-shrink">
                                                                                                <div></div>
                                                                                </div>
                                                                </div><canvas ref="chartbatang" id="sales-chart" height="246" width="601" class="chartjs-render-monitor" style="display: block; width: 601px; height: 246px;"></canvas>
                                                    </div>
                                           </div>
                                   </div>
                       </div>  

           <div class="col-4">
                                    <div class="chart-responsive">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        <canvas ref="chartdonat" id="donutChart" height="99" width="199" class="chartjs-render-monitor" style="display: block; width: 199px; height: 99px;"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                            </div>
    </div>
</div>


         <!-- <bates -->
       </div>    
    </div>
        </section>
       
</template>
 <style type="text/css">
        	

        </style>

<script>
import Chart from 'chart.js';
var myChart1;
var myChart;

export default {

    name: 'Job',
    data() {
        return {
            dataBar: [],
            dataDonat: [],
        }
    },

    methods: {

        ambilDataServer: function() {
            console.log('updatedata', this.dataBar)
            myChart1.data = this.dataBar;
            myChart1.update();

            console.log('updatedata', this.dataDonat)
            myChart.data = this.dataDonat;
            myChart.update();

        }
    },
    created() {
        var url = 'http://192.168.1.3/junior/web/api/index.php/examples/chart/bar';
        fetch(url)
            .then(res => {
                return res.json()
            })
            .then(dataBar => {
                this.dataBar = dataBar.data,

                    console.log(this.dataBar)
            })
        var url = 'http://192.168.1.3/junior/web/api/index.php/examples/chart/donut';
        fetch(url)
            .then(res => {
                return res.json()
            })
            .then(dataDonat => {
                this.dataDonat = dataDonat.data,

                    console.log(this.dataDonat)
            })
    },




    mounted() {
        //myChart.data = this.dataBar;
        //myChart.data = this.dataBar;
        //chart1.update();

        var ctx = this.$refs.chartbatang.getContext('2d');



        myChart1 = new Chart(ctx, {
            type: 'bar',
            data: this.dataBar,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,

                }
            }
        });


        var ctx8 = document.getElementById('donutChart').getContext('2d')



        myChart = new Chart(ctx8, {
            type: 'doughnut',
            data: this.dataDonat,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,

                }
            }
        });
        myChart1.data = this.dataBar;
        myChart1.update();
        myChart.data = this.dataDonat;
        myChart.update();

    }

}
</script>
</script> 