<template>
    <section>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-white-primary elevation-1">
            <!-- Brand Logo -->
            <div class="col-md-12">
                <div class="row">
                    <div class=" card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header" style="background-color: white;">
                            <div class="widget-user-image">
                                <img class="img-circle img-bordered-sm elevation-1" src="https://pbs.twimg.com/profile_images/1308525962859098114/SFa770Jq_400x400.jpg" alt="User Picture">
                                <h5 class="widget-user-username">Ardani WA</h5>
                                <h6 class="widget-user-desc"><i class='fas fa-bezier-curve'></i> Keuangan</h6>
                                <h6 class="widget-user-desc"><i class='far fa-building' style="font-size: 16px"></i> Surabaya</h6>
                            </div>
                            <!-- /.widget-user-image -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p> dashboard kas/bank</p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p> pembayaran</p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p> penerimaan</p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p> riwayat</p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p> transaksi harian</p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p><b> Summary kas/bank</b></p>
                    </div>
                </div>
                <div class="card" style="background-color: #e6e6e6">
                    <div class="card-body">
                        <p>pengaturan akun</p>
                    </div>
                </div>
            </div> <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper" style="min-height: 1545.38px;">
            <!-- Main content -->
            <section class="card-header">
                <div class="container-fluid">
                    <!-- COLOR PALETTE -->
                    <div class="card">
                        <div class="card-header">
                            <h3>summary kas bank</h3>
                            <h5>Ringkasan</h5><br />
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button type="submit">
                                        <i class='fas fa-calendar-alt'></i>
                                    </button>
                                </div>
                                <input type="text" id="tanggal" name="tanggal" placeholder="01/03/2021 - 23/03/2021">
                            </div><br />
                            <button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <div class="card-body">
                                        <!-- /.d-flex -->
                                        <div class="position-relative mb-4">
                                            <div class="chartjs-size-monitor">
                                                <div class="chartjs-size-monitor-expand">
                                                    <div class=""></div>
                                                </div>
                                                <div class="chartjs-size-monitor-shrink">
                                                    <div class=""></div>
                                                </div>
                                            </div>
                                            <canvas ref="chartbatang" id="sales-chart" height="200" style="display: block; width: 487px; height: 200px;" width="487" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <div class="col-4">
                                    <div class="card-body">
                                        <div class="chart-responsive">
                                            <div class="chartjs-size-monitor">
                                                <div class="chartjs-size-monitor-expand">
                                                    <div class=""></div>
                                                </div>
                                                <div class="chartjs-size-monitor-shrink">
                                                    <div class=""></div>
                                                </div>
                                            </div>
                                            <canvas ref="chartdonat" id="donutChart" height="99" width="199" class="chartjs-render-monitor" style="display: block; width: 199px; height: 99px;"></canvas>
                                        </div>
                                        <!-- ./chart-responsive -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card-body">
                                        <h3>Bank</h3>
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" style="background: cyan">
                                                <h3>8</h3>trasactions
                                            </li>
                                            <div class="col-10">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <br /><b>
                                                                <h4>Bank Masuk</h4>
                                                            </b>
                                                        </div>
                                                        <div>
                                                            IDR<br />
                                                            <b>18,920,640</b>.00<br />
                                                            <div class="text-primary">USD 36.00</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul><br />
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" style="background: pink">
                                                <h3>11</h3>trasactions
                                            </li>
                                            <div class="col-10">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <br /><b>
                                                                <h4>Bank Keluar</h4>
                                                            </b>
                                                        </div>
                                                        <div>
                                                            IDR<br />
                                                            <b>6,009,300</b>.00<br />
                                                            <div class="text-danger">(USD 36.00)</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body">
                                        <h3>Kas</h3>
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" style="background: cyan">
                                                <h3>4</h3>trasactions
                                            </li>
                                            <div class="col-10">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <br /><b>
                                                                <h4>kas Masuk</h4>
                                                            </b>
                                                        </div>
                                                        <div>
                                                            <p>IDR<br />
                                                                <b>621,500</b>.00
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul><br />
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" style="background: pink">
                                                <h3>0</h3>trasactions
                                            </li>
                                            <div class="col-10">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <br /><b>
                                                                <h4>kas Masuk</h4>
                                                            </b>
                                                        </div>
                                                        <div>
                                                            <p>IDR<br />
                                                                <b>0</b>.00
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </section>
</template>
<script>
import Chart from 'chart.js';
var myChart1;
var myChart;

export default {

    name: 'kas_Bank',
    data() {
        return {
            dataBar: [],
            dataDonat: [],
        }
    },

    methods: {

        ambilDataServer: function() {
            console.log('updatedata', this.dataBar)
            myChart1.data = this.dataBar;
            myChart1.update();

            console.log('updatedata', this.dataDonat)
            myChart.data = this.dataDonat;
            myChart.update();

        }
    },
    created() {
        var url = 'http://192.168.1.3/junior/web/api/index.php/examples/chart/bar';
        fetch(url)
            .then(res => {
                return res.json()
            })
            .then(dataBar => {
                this.dataBar = dataBar.data,

                    console.log(this.dataBar)
            })
        var url = 'http://192.168.1.3/junior/web/api/index.php/examples/chart/donut';
        fetch(url)
            .then(res => {
                return res.json()
            })
            .then(dataDonat => {
                this.dataDonat = dataDonat.data,

                    console.log(this.dataDonat)
            })
    },




    mounted() {
        //myChart.data = this.dataBar;
        //myChart.data = this.dataBar;
        //chart1.update();

        var ctx = this.$refs.chartbatang.getContext('2d');



        myChart1 = new Chart(ctx, {
            type: 'bar',
            data: this.dataBar,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,

                }
            }
        });


        var ctx8 = document.getElementById('donutChart').getContext('2d')



        myChart = new Chart(ctx8, {
            type: 'doughnut',
            data: this.dataDonat,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,

                }
            }
        });
        myChart1.data = this.dataBar;
        myChart1.update();
        myChart.data = this.dataDonat;
        myChart.update();

    }

}
</script>