<template> 
        <section class="content">
  		 <div class="row" style="margin-bottom: 10px">
            <div class="col-4">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="https://media-assets-ggwp.s3.ap-southeast-1.amazonaws.com/2021/03/meme-dewa-kipas-1.jpg" alt="user image">
                    <span class="username">
                        <a href="https://dummyimage.com/1x1/000/19a800">Selamat pagi,</a>
                    </span>
                    <span class="description">Dewa kipass</span>
                </div>
            </div>
            <div class="col-8 card card-header" style="background-color: #F9FFB1; border-radius:16px; color: black">
                <div class="row">
                    <div class="col-4" style="border-right:2px grey solid">
                        <h4 class=""><i class="far fa-calendar-alt" style="vertical-align:-webkit-baseline-middle;"></i> <span style="vertical-align: -webkit-baseline-middle;">Senin 15 maret 2021</span></h4>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <h4 class="" style="margin-left: 12px"><i class="fa fa-history" style="vertical-align:-webkit-baseline-middle;"></i> <span style="vertical-align: -webkit-baseline-middle;">Approval</span></h4>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <h4 class=""><i class="fa fa-bell" style="vertical-align:-webkit-baseline-middle;"></i> <span style="vertical-align: -webkit-baseline-middle;">Notification</span></h4>
                    </div>
                    <div class="col-2" style="text-align: center;">
                        <h4 class=""><i class="fa fa-history" style="vertical-align:-webkit-baseline-middle;"></i> <span style="vertical-align: -webkit-baseline-middle;">My Log</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #8A98F4">
                            <i class="fas fa-dharmachakra float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Ship operation</h1>
                            <p>manajemen operasional kapal harian dan rekap</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #A200EF">
                            <i class="fas fa-ship fl oat-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Ship Management</h1>
                            <p>Manajemen data kapal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #E5E07C">
                            <i class="fas fa-user-secret float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Crewing</h1>
                            <p>Manajemen tenaga kru kapal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #F14454">
                            <i class="fas fa-tools float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Technical</h1>
                            <p>Manajemen teknis mekanik, pernaikan, dan perawatan kapal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #F8C655">
                            <i class="fas fa-shopping-cart float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Procurement</h1>
                            <p>Manajemen pengadaan secara transparan dan profesional</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #199970">
                            <i class="fas fa-warehouse float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Logistic</h1>
                            <p>Manajemen gudang dan stok sparepart</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #C41A54">
                            <i class="fas fa-fingerprint float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Payroll</h1>
                            <p>Manajemen absensi dan penggajian kru serta karyawan</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #595959">
                            <i class="fas fa-database float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Master Data</h1>
                            <p>Pengaturan data induk seputar aplikasi keuangan</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <!-- small card -->
                <div class="small-box bg-gradient white custom-elevation" style="padding: 0 16px;">
                    <div class="inner">
                        <div class="icon" style="color: #DCB900">
                            <i class="fas fa-bookmark float-right" style="font-size: 42px;"></i>
                        </div>
                        <div style="top: 35%;position: absolute;max-width: 220px;">
                            <h1>Management</h1>
                            <p>Dashboard khusus untuk para menejemen</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
        </section>
       
</template>
 <style type="text/css">
        	.custom-elevation {
  min-height: 200px;
  box-shadow: 0.2rem 1rem 1.5rem rgba(18,38,63,.09);
}

.bg-gradient {
  background : linear-gradient(to right, #EDEAE6 , white);
}

        </style>

<script>
export default {
  name: 'HomeShipping'
}

</script>
 