<template>
        <section class="content">
                <button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button>
                <button class="btn btn-primary float-right" v-on:click="next">next</button>
                <button class="btn btn-primary float-right" v-on:click="back">back</button>
                <p>{{ total }}</p>
                <p>{{ page }}</p>
                <div class="card-body pb-0">
                        <div class="row d-flex align-items-stretch">
                                <div class="col-4 col-sm-6 col-md-4 d-flex align-items-stretch" v-for="todo in datacovid">
                                        <div class="card bg-light">
                                                <div class="card-header text-muted border-bottom-0">
                                                        {{todo.id}}
                                                </div>
                                                <div class="card-body pt-0">
                                                        <div class="row">
                                                                <div class="col-7">
                                                                        <h2 class="lead"><b>{{todo.firstName}}</b></h2>
                                                                        <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                                                        </ul>
                                                                </div>
                                                                <div class="col-5 text-center">
                                                                        <img :src="todo.picture" alt="user-avatar" class="img-circle img-fluid">
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="card-footer">
                                                        <div class="text-right">
                                                                <a href="#" class="btn btn-sm bg-teal">
                                                                        <i class="fas fa-comments"></i>
                                                                </a>
                                                                <a href="#" class="btn btn-sm btn-primary">
                                                                        <i class="fas fa-user"></i> View Profile
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <!-- /.content -->
</template>
<script>
export default {
        name: 'covid',
        data() {
                return {
                        total: 0,
                       datacovid : [],
                        page: 1
                }
        },
        methods: {
                ambilDataServer: function() {
                        var url = 'https://api.kawalcorona.com/indonesia/provinsi/';
                        fetch(url, {
                          mode: 'no-cors',
                        headers: {
                                //'Content-Type': 'application/json'
                                 }
                                 })               
                                .then(res => {
                                        console.log(res)
                                        return res.text()
                                })
                                .then(dataSvr => {
                                        this.datacovid =JSON.parse(dataSvr)
                                        console.log(this.datacovid)
                                })
                },
                next: function() {
                        this.page += 1;
                        this.ambilDataServer()
                        console.log('hello world')
                 },
                back: function() {
                        if (this.page <= 1) {
                                return;
                        }
                        this.page -= 1;
                        this.ambilDataServer()
                        console.log('hello world')
                },
        }
}
</script>