<template>
    <section class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Form User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" @submit="submitForm">
                <div class="card-body">
                    <p v-if="errors.length">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">Username</label>
                            <input type="hidden" name="row_id" value="">
                            <input class="form-control" v-model="form.username">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label">Display Name</label>
                            <input class="form-control"  v-model="form.name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label">Email</label>
                            <input class="form-control" v-model="form.email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label">Password</label>
                            <input id="pwd" class="form-control" value="" type="password" name="i_pwd">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label"> </label>
                            <label class="checkbox control-label">
                                <input value="1" checked="checked" type="checkbox" name="active"> Active</label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" v-on:click="cekData" class="btn btn-default">Cek Data</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</template>
<script>
import { authFetch } from '@/libs/hxcore';
export default {
    name: 'Form',
    data() {
        return {
            errors: [],
            form: {
                name: '',
                username: '',
                email:''
            }
        }
    },
    methods: {
        tampilkanHarga: function() {
            alert(this.harga)
        },
        submitForm: function(e) {
            if (this.form.name && this.form.username) {
                var data = Object.keys(this.form).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(this.form[key])).join('&')

                authFetch('/examples/user', {
                    method: 'POST',
                    body: this.form
                })
                .then(res => {
                  if (res.status === 201) {
                    alert('OK');
                  } else if (res.status === 400) {
                    //let errorResponse = await res.json();
                    //this.errors.push(errorResponse.error);
                  }
                  return res.json();
                })
                .then(js =>{
                    console.log(js)
                });
            }
            this.errors = [];
            if (!this.form.name) {
                this.errors.push('Name required.');
            }
            if (!this.form.username) {
                this.errors.push('Username required.');
            }
            e.preventDefault();
        },

        cekData: function()
        {

            /*authFetch('https://ibnux.github.io/BMKG-importer/cuaca/501303.json',
            {
                mode:'no-cors'
            })
                .then(res => {
                    return res.text().then(function(text) {
                        console.log(text)
    return text ? JSON.parse(text) : {}
  })
                })
                .then(js =>{
                    console.log(js)
                });*/

                authFetch('/examples/user', {
                    method: 'POST'
                })
        }
    }
}
</script>