<template>
    <section class="content">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Penjumlahan</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="InputNilai1">Nilai 1</label>
                        <input type="text" class="form-control" id="Inputnilai" placeholder="masukkan nilai 1" v-model="nilai1">
                    </div>
                    <div class="form-group">
                        <label for="InputNilai2">Nilai 2</label>
                        <input type="text" class="form-control" id="Inputnilai" placeholder="masukkan nilai 2" v-model="nilai2">
                    </div>
                    <p>{{ parseFloat(nilai1)+parseFloat(nilai2) }}</p>
                </div>
                <div class="card-footer form-actions">
                    <button type="button" class="btn btn-primary" v-on:click="tampilkanNilai">Tampilkan Hasil Jumlah</button>
                    <button type="button" class="btn btn-default float-right" v-on:click="tampilkanNilai1">Tampilkan Nilai 1</button>
                    <button type="button" class="btn btn-default float-right" v-on:click="tampilkanNilai2">Tampilkan Nilai 2</button>
                </div>
            </form>
        </div>
    </section>
</template>
<script>
export default {
    name: 'Hitung',
    data() {
        return {
            nilai1: 0,
            nilai2: 0,
            judul: 'Selamat datang di Vue'
        }
    },
    methods: {
        tampilkanNilai: function() {

            alert(parseFloat(this.nilai1) + parseFloat(this.nilai2))
        },
        tampilkanNilai1: function() {

            alert(parseFloat(this.nilai1))
        },
        tampilkanNilai2: function() {

            alert(parseFloat(this.nilai2))
        }
    }
}
</script>