<template>
    <section class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Permission {{ $route.params.id }}</h3>
            </div>
        </div>
    </section>
    <!-- /.content -->
</template>
<script>
import { authFetch } from '@/libs/hxcore';
export default {
    name: 'Permit',
    data() {
        return {
            errors: [],
            form: {
                name: '',
                username: '',
                email:''
            }
        }
    }
}
</script>