<template>
  <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Data user</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive">
          <table class="table table-hover" ref="tableuser">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </section>
    <!-- /.content -->
</template>

<script>

import {createTable} from'/libs/script';

export default {
  name: 'Table',
  mounted() {
    const e = this.$refs;
    console.log(e)
    createTable(e.tableuser,
    {
      ajax: {
        url: 'https://jsonplaceholder.typicode.com/todos',
        dataSrc: ""
      },
      "columns": [
        { "data": "id" },
        { "data": "title" }
      ]
    });
    console.log(createTable)
  }
}

</script>
