<template>
  <section class="content">
Pengguna => {{ judul }}
<button class="btn btn-primary" v-on:click="ambilDataServer">Ambil Data server</button>

<table class="table table-bordered">
	<tr v-for="todo in todos">
		<td>{{ todo.id }}</td><td>{{ todo.title }}</td>
	</tr>
</table>
    </section>
    <!-- /.content -->
</template>

<script>
export default {
  name: 'User',
  data () {
    return {
      judul: 'Daftar Pengguna',
      todos: []
    }
  },
  methods:{    
    ambilDataServer: function()
    {
      var url = 'https://jsonplaceholder.typicode.com/todos';
      fetch(url)
      .then(res => {
        return res.json()
      })
      .then(dataSvr => {
        this.todos = dataSvr
        //console.log(dataSvr)
      })
      //var dataServer = getDataServer(url);
      //console.log(dataServer)
    }
  }
}
</script>
