<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
    <router-link to="/login" class="nav-link">Login</router-link>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
    <router-link to="/blank" class="nav-link">Blank</router-link>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
    <router-link to="/about" class="nav-link">About</router-link>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
    <router-link to="/table" class="nav-link">Table</router-link>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
    <router-link to="/form" class="nav-link">Form</router-link>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" v-on:click="signOut"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>
</template>

<script>
import {auth} from '@/libs/hxcore';
export default {
  name: "AppLayoutNav",
  methods: {
    signOut: function(e) {
      console.log('signout')
      auth.logout();
      this.$router.push('login');
      e.preventDefault();
    }
  }
}
</script>

<style scoped>

</style>
