<template>
  <div class="wrapper">
    <AppLayoutNav />
    <AppLayoutMenu />
    <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Table</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <slot />
    </div>
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.2-pre
      </div>
      <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
      reserved.
    </footer>
  </div>
</template>

<script>
import AppLayoutNav from '@/layouts/AppLayoutNav'
import AppLayoutMenu from '@/layouts/AppLayoutMenu'

export default {
  name: "AppLayoutAdmin",
  data() {
    return {
      title: null,
    };
  },
  created: function () {
    // `this` points to the vm instance
    console.log(this.$route)
    this.title = this.$route.name;
  },
  components: {
    AppLayoutNav, AppLayoutMenu
  }
}
</script>

<style scoped>
</style>
